<div class="user-details">
  <h1>My Introduce</h1>
  <img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/profilepicture.png?raw=true" width="50%" height="60%"/>
  <p> NAME : jun Sung Hwang </p>
  <p> Affiliation : Kangwon National University </p>
  <p> MAJOR : Media Engineering </p>
  <p> Grade : sophomore in 2019(year) </p>
  <p> E-mail : hjs717@gmail.com </p>
</div>
<div class="user">
  <div class="tech">
    <h2>I CAN DO</h2>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/C++.png?raw=true" width="15%" height="15%"/>
  	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/C.png?raw=true" width="25%" height="15%"/>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/premiere.png?raw=true" width="20%" height="20%"/>
	<p>My main development languages is C++ Also I can use C and Java too.<br> And I can use vedioeditor likes Adobe's Premere pro, Sony's Vegas pro. <br> and I study in MAYA</p>
  </div>
  <div class="tech">
    <h2>PROJECT</h2>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/phonebook.png?raw=true" width="20%" height="20%"/>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/video.png?raw=true" width="20%" height="20%"/>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/driving.png?raw=true" width="20%" height="20%"/>
	<p>I did program project Phonebook program, Vedio Program, driving simulation program on use openGL etc...</p>
  </div>
  <div class="tech">
    <h2>HOPE</h2>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/game.png?raw=true" width="30%" height="20%"/>
	<p>I want to study in game engine and graphics on game. <br> And I want work on game programer. </p>
  </div>
</div>
