<div class="user-details">
  <h1>My Introduce</h1>
  <img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/profilepicture.png?raw=true" width="50%" height="60%"/>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>I CAN DO</h2>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/C++.png?raw=true" width="15%" height="15%"/>
  	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/C.png?raw=true" width="25%" height="15%"/>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/Java.png?raw=true" width="25%" height="15%"/>
	<p>My main development languages is C++ <br> Also I can use C and Java too.</p>
  </div>
  <div class="tech">
    <h2>PROJECT</h2>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/phonebook.png?raw=true" width="20%" height="20%"/>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/video.png?raw=true" width="20%" height="20%"/>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/driving.png?raw=true" width="20%" height="20%"/>
	<p>I made programs Phonebook, Vedio Program, driving simulation on use openGL</p>
  </div>
  <div class="tech">
    <h2>HOPE</h2>
	<img src="https://github.com/hjs7177/hjs7177.github.io/blob/master/picture/game.png?raw=true" width="30%" height="20%"/>
	<p>I want to study in game engine and graphics on game. <br> And I want work on game programer. </p>
  </div>
</div>
